node_modules
.DS_Store
/DiySoccer/packages
/DiySoccer/DiySoccer/bin
/DiySoccer/DiySoccer/obj
/DiySoccer/Dependences/bin
/DiySoccer/Dependences/obj
/DiySoccer/Implementations/obj
/DiySoccer/Implementations/bin
/DiySoccer/Interfaces/obj
/DiySoccer/Interfaces/bin
/DiySoccer/.vs
/DiySoccer/Authentication/bin
/DiySoccer/Authentication/obj
/DiySoccer/Core/bin
/DiySoccer/Core/obj
