/DiySoccer/packages/
/DiySoccer/.vs/
*.user
/DiySoccer/Authentication/bin/
/DiySoccer/Authentication/obj/
/DiySoccer/Core/bin/
/DiySoccer/Core/obj/
/DiySoccer/Dependences/bin/
/DiySoccer/Dependences/obj/
/DiySoccer/DiySoccer/bin/
/DiySoccer/DiySoccer/obj/
/DiySoccer/DiySoccer/node_modules/
/DiySoccer/DiySoccer/Media/
/DiySoccer/Implementations/bin/
/DiySoccer/Implementations/obj/
/DiySoccer/Interfaces/bin/
/DiySoccer/Interfaces/obj/

/DiySoccer/DiySoccer/package-lock.json
