.dashboard {

    .dashboard-box {
        background: #fff;
        box-shadow: 0px 0px 10px #ccc;
        background-color: white;
        margin-bottom: 30px;

        &.dashboard-box-padded {
            padding: 10px;
        }

        .dashboard-box__image {
        }

        .dashboard-box__name {
            position: absolute;
            top: 30px;
            left: 170px;
            font-weight: bold;
            font-size: 24px;
        }

        .dashboard-box__sub-name {
            position: absolute;
            left: 170px;
            top: 70px;
            color: lightgrey;
            font-weight: bold;
            font-size: 18px;
        }

        .dashboard-box__description {
            font-weight: bold;
            font-size: 18px;
            background: url("/content/img/123.jpg");
            color: white;
            overflow-x: hidden;
            width: 100%;
            height: 100%;
        }

        .dashboard-box__description-text {
            position: absolute;
            top: 45px;
            left: 40px;
            max-width: 710px;
        }

        .dashboard-box-header {
            padding: 15px;
            height: 48px;
            background: $diys-box-header-color;

            .dashboard-box-header__link {
                text-align: right;
                position: relative;
                color: #414242 !important;

                a {
                    color: #414242;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            .dashboard-box-header__title {
                position: relative;
                color: white;
                text-align: left;
                color: #414242 !important;

                text-transform: uppercase;
                font-weight: bold;
            }
        }

        .dashboard-box-content {

            .dashboard-box-content__row {
                padding-bottom: 3px;
                padding-top: 3px;
                cursor: pointer;

                &:hover {
                    background-color: #fafafa;
                }

                &:last-child {
                    padding-bottom: 0px;
                }
            }
            
            &.dashboard-box-content__padded {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .dashboard-box-content__half-right {
                display: inline-block;
                text-align: left;
                padding-left: 20px;
                width: 45%;
            }

            .dashboard-box-content__half-left {
                display: inline-block;
                text-align: right;
                padding-right: 20px;
                width: 45%;
            }

            thead {
               background-color: $diys-box-table-header-color;
            }

            th:nth-child(odd) {
                background: #DEEFF5;
            }
            
            td:nth-child(odd) {
               background: $diys-box-table-column-color;
            }

            tbody {
                .number-cell {
                    color: $diys-box-table-cell-lighted
                }

                tr:nth-child(even) {
                   background: $diys-box-table-row-color;
                }
            }            

        }
    }   
}