$diys-header-color: #21324c;

$diys-name-color: #f4f4f4;

$diys-box-header-color: #e69200;
$diys-box-table-header-color: #e4f5fb;
$diys-box-table-column-color: #f4f4f4;
$diys-box-table-row-color: #fafafa;
$diys-box-table-cell-lighted: #949494;


.width-10 {
    width: 10px;
}

.width-20 {
    width: 20px;
}

.width-30 {
    width: 30px;
}

.width-50 {
    width: 50px;
}

.width-60 {
    width: 60px;
}

.width-100 {
    width: 100px;
}

.width-125 {
    width: 125px;
}

.height-120 {
    height: 120px;
}

.height-140 {
    height: 140px;
}

.width-150 {
    width: 150px;
}

.width-200 {
    width: 200px;
}

.width-720 {
    width: 720px;
}

.width-620 {
    width: 620px;
}

.img-120-120 {
    height: 120px;
    width: 120px;
}

.img-150-150 {
    height: 150px;
    width: 150px;
}

.no-margin {
    margin: 0px !important;
}