<td>
    {{#if isEditor}}
    <div class="mb10">
        <input type="text" class="form-control name-event" data-id="{{id}}" value="{{name}}" />
    </div>
    <div class="mb10">
        <button class="btn btn-primary add-event-game">Добавить игру</button>
    </div>
    <div class="mb10">
        <button class="btn btn-primary delete-event">Удалить тур</button>
    </div>
    {{else}}
    {{name}}
    {{/if}}
</td>
<td>
    {{#if isEditor}}
    {{#each games}}
    <div class="row">
        <div class="col-sm-5">
            <select class="form-control home-team-change" data-id="{{id}}">
                {{#if homeTeamName}}
                <option disabled="disabled" selected="selected">{{homeTeamName}}</option>
                {{else}}
                <option disabled="disabled" selected="selected">Выбрать команду</option>
                {{/if}}
                {{#each teams}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-sm-5">
            <select class="form-control guest-team-change" data-id="{{id}}">
                {{#if guestTeamName}}
                <option disabled="disabled" selected="selected">{{guestTeamName}}</option>
                {{else}}
                <option disabled="disabled" selected="selected">Выбрать команду</option>
                {{/if}}
                {{#each teams}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary delete-event-game" data-id="{{id}}">Удалить</button>
        </div>
    </div>
    {{/each}}
    {{else}}
    {{#each games}}
    <div class="row">
        <div class="col-sm-6">
            {{homeTeamName}}
        </div>
        <div class="col-sm-6">
            {{guestTeamName}}
        </div>
    </div>
    {{/each}}
    {{/if}}
</td>
<td>
    {{#if isEditor}}
    <div class="form-group">
        <div class='input-group date'>
            <input type='text' class="form-control start-date"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    {{else}}
    {{startDate}}
    {{/if}}
</td>