<div>
    {{#if customScores}}
    <input type="checkbox" class="custom-scoring" checked="checked"/>Кастомный счет
    {{else}}
    <input type="checkbox" class="custom-scoring" />Кастомный счет
    {{/if}}
</div>

<div class="row customScoringElements" {{#if customScores}}style="display: none"{{else}}{{/if}}>
    <div class="col-sm-6">
        <input class="home-team-score" type="number" value="{{homeTeamScore}}"/>
    </div>
    <div class="col-sm-6">
        <input class="guest-team-score" type="number" value="{{guestTeamScore}}"/>
    </div>
</div>