<div class="form-group">
    <input type="number" class="form-control team-score" value="{{score}}" {{#if disableScoreValue}}{{else}}disabled="disabled"{{/if}} />
</div>

<select class="form-control change-team">
    {{#if selected}}
    {{else}}
    <option selected="selected" disabled="disabled">Выберете команду</option>
    {{/if}}
    {{#each teams}}
    {{#if selected}}
    <option value="{{id}}" selected="selected">{{name}}</option>
    {{else}}
    <option value="{{id}}">{{name}}</option>
    {{/if}}
    {{/each}}
</select>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Гол
            </th>
            <th>
                Пас
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
