<div class="form-group row">
    <div class="col-sm-4">
        <input type="text" class="form-control league-name" placeholder="Название" value="{{name}}" />
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-4">
        <input type="text" class="form-control league-description" placeholder="Описание" value="{{description}}"/>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-4">
        <input type="text" class="form-control league-vkGroup" placeholder="Группа вконтакте" value="{{vkGroup}}" />
    </div>
</div>