<div class="dashboard">
    {{#if name}}
    <div class="row">
        <div class="col-sm-4">
            <div class="dashboard-box dashboard-padded height-140">
                <div class="dashboard-box__image">
                    {{#if mediaId}}
                    <img class="img-120-120 " src="/api/image/{{mediaId}}?width=120&height=120"/>
                    {{else}}
                    <img class="img-120-120 dashboard-box__image" src="/Frontend/img/DefaultLogo_120x120.jpg"/>
                    {{/if}}
                </div>
                <div class="dashboard-box__name">
                    {{name}}
                </div>
                <div class="dashboard-box__sub-name">
                    {{subName}}
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="dashboard-box height-140">
                <div class="dashboard-box__description">
                    <div class="dashboard-box__description-text">
                        {{description}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-7">
            <div class="dashboard-box">
                <div class="dashboard-box-header row m0">
                    <div class="dashboard-box-header__title col-sm-7 p0">
                        Таблица
                    </div>
                    <div class="dashboard-box-header__link col-sm-5 p0">
                        <i class="fa fa-share"></i>
                        <a href="#leagues/{{id}}/table">Вся таблица</a>
                    </div>
                </div>
                <div class="dashboard-box-content">
                    <table class="table table-hovered mb0">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Команда</th>
                            <th class="width-60 text-center">Игры</th>
                            <th class="width-60 text-center">Очки</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#if teams}}
                        {{#each teams}}
                        <tr>
                            <td class="number-cell">{{number}}</td>
                            <td>
                                {{#if mediaId}}
                                <img src="/api/image/{{mediaId}}?width=25&height=25"/>
                                {{/if}}
                                {{name}}
                            </td>
                            <td class="width-60 text-center">{{games}}</td>
                            <td class="width-60 text-center">{{points}}</td>
                        </tr>
                        {{/each}}
                        {{else}}
                        <tr><td colspan="3">Нет данных</td></tr>
                        {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-5">

            <div class="dashboard-box">
                <div class="dashboard-box-header dashboard-box-header-border row m0">
                    <div class="dashboard-box-header__title col-sm-7 p0">
                        События
                    </div>
                    <div class="dashboard-box-header__link col-sm-5 p0">
                        <i class="fa fa-share"></i>
                        <a href="#leagues/{{id}}/calendar">Все события</a>
                    </div>
                </div>
                <div class="dashboard-box-content">
                    <table class="table table-hovered mb0">
                        <thead>
                        <tr>
                            <th class="width-200">Название</th>
                            <th>Дата проведения</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#if events}}
                        {{#each events}}
                        <tr>
                            <td class="width-200">{{name}}</td>
                            <td>{{date}}</td>
                        </tr>
                        {{/each}}
                        {{else}}
                        <tr><td colspan="3">Нет данных</td></tr>
                        {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="dashboard-box">
                <div class="dashboard-box-header dashboard-box-header-border row m0">
                    <div class="dashboard-box-header__title col-sm-7 p0">
                        Статистика
                    </div>
                    <div class="dashboard-box-header__link col-sm-5 p0">
                        <i class="fa fa-share"></i>
                        <a href="#leagues/{{id}}/table">Вся статистика</a>
                    </div>
                </div>
                <div class="dashboard-box-content">
                    <table class="table table-hovered mb0">
                        <thead>
                        <tr>
                            <th class="width-200">Название</th>
                            <th>Дата проведения</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {{#if bestPlayer}}
                            <td class="width-200">
                                Лучший игрок
                            </td>
                            <td>
                                <span>
                                    {{#if bestPlayer.mediaId}}
                                    <span><img src="/api/image/{{bestPlayer.mediaId}}?width=25&height=25" /></span>
                                    {{/if}}
                                    <span>{{bestPlayer.name}}</span>
                                </span>
                            </td>
                            {{else}}
                            <td class="width-200">Лучший игрок</td>
                            <td></td>
                            {{/if}}
                        </tr>
                        <tr>
                            {{#if bestGoalPlayer}}
                            <td class="width-200">
                                Лучший форвард
                            </td>
                            <td>
                                <span>
                                    {{#if bestGoalPlayer.mediaId}}
                                    <span><img src="/api/image/{{bestGoalPlayer.mediaId}}?width=25&height=25" /></span>
                                    {{/if}}
                                    <span>{{bestGoalPlayer.name}}</span>
                                </span>
                            </td>
                            {{else}}
                            <td class="width-200">Лучший форвард</td>
                            <td></td>
                            {{/if}}
                        </tr>
                        <tr>
                            {{#if bestHelpPlayer}}
                            <td class="width-200">
                                Лучший ассисстент
                            </td>
                            <td>
                                <span>
                                    {{#if bestHelpPlayer.mediaId}}
                                    <span><img src="/api/image/{{bestHelpPlayer.mediaId}}?width=25&height=25" /></span>
                                    {{/if}}
                                    <span>{{bestHelpPlayer.name}}</span>
                                </span>
                            </td>
                            {{else}}
                            <td class="width-200">Лучший ассисстент</td>
                            <td></td>
                            {{/if}}
                        </tr>
                    </table>
                </div>
            </div>

            <!--<div class="box">
                <div class="box-header box-header-border row m0">
                    <div class="box-header__title col-sm-7 p0">
                        Новости
                    </div>
                    <div class="box-header__link col-sm-5 p0">
                    </div>
                </div>
                <div class="box-content">
                    Новостей нет
                </div>
            </div>-->

        </div>
    </div>
    {{else}}
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    {{/if}}
</div>