<table class="table table-striped">
    <thead>
    <tr>
        <th>Название</th>
        <th>Кол-во игр</th>
        <th>Победы</th>
        <th>Поражения</th>
        <th>Ничьи</th>
        <th>Голы</th>
        <th>Очки</th>
        {{#if showEditColumn}}
        <th></th>
        {{/if}}
    </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="row form-group">
    <div class="col-sm-4">
        <h4><strong>Лучшие игроки</strong></h4>
        {{#each bestPlayers}}
        <div class="row">
            <div class="col-sm-10">{{name}}</div>
            <div class="col-sm-2">{{num}}</div>
        </div>
        {{/each}}
    </div>
    <div class="col-sm-4">
        <h4><strong>Лучшие ассисстенты</strong></h4>
        {{#each bestHelpers}}
        <div class="row">
            <div class="col-sm-10">{{name}}</div>
            <div class="col-sm-2">{{num}}</div>
        </div>
        {{/each}}
    </div>
    <div class="col-sm-4">
        <h4><strong>Лучшие забивалы</strong></h4>
        {{#each bestForwards}}
        <div class="row">
            <div class="col-sm-10">{{name}}</div>
            <div class="col-sm-2">{{num}}</div>
        </div>
        {{/each}}
    </div>
</div>