<div class="form-group">
    <input type="text" class="form-control"/>
</div>
<div class="row">
    <div class="col-sm-4">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Игроки
                    <button type="button" class="btn btn-lg btn-primary create-new-member">Добавить</button>
                </th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div>
    <button type="button" class="btn btn-lg btn-primary create-new-team">Create</button>
</div>
