<div class="col-sm-12">
    <button type="button" class="btn btn-lg btn-primary add-new-team">Добавить команду</button>
    <button type="button" class="btn btn-lg btn-primary add-new-game">Добавить игру</button>
</div>
<table class="table table-striped">
    <thead>
        <tr>            
            <th>Название</th>
            <th>Кол-во игр</th>
            <th>Победы</th>
            <th>Поражения</th>
            <th>Ничьи</th>
            <th>Голы</th>
            <th>Очки</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>