<div class="row">
    <div></div>
    <div>
        Город:
        Дата основания:
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#description">Описание</a></li>
    <li><a data-toggle="tab" href="#players">Состав</a></li>
    <li><a data-toggle="tab" href="#games">Игры</a></li>
    <li><a data-toggle="tab" href="#statistic">Статистика</a></li>
</ul>

<div class="tab-content">
    <div id="description" class="tab-pane fade in active">
        <p>Some content.</p>
    </div>
    <div id="players" class="tab-pane fade">
        Игроки
    </div>
    <div id="games" class="tab-pane fade">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Счет</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div id="statistic" class="tab-pane fade">
        Статистика
    </div>
</div>