<td>
    {{#if mediaId}}
    <img src="/api/image/{{mediaId}}?width=25&height=25" />
    {{/if}}
    {{name}}
    {{#if showEdit}}
    <button class="btn btn-primary edit-team pull-right">Редактировать</button>
    {{/if}}
</td>
<td class="width-100 text-right">{{gamesCount}}</td>
<td class="width-100 text-right">{{wins}}</td>
<td class="width-100 text-right">{{draw}}</td>
<td class="width-100 text-right">{{loses}}</td>
<td class="width-100 text-right">{{goals}}</td>
<td class="width-100 text-right">{{points}}</td>
