<div class="mb15">
    <input type="text" class="form-control import-team-input width-200 inline-block " placeholder="Название команды" />
    <a class="btn btn-primary import-team-button">Импортировать команду</a>
    <a href="#leagues/{{id}}/teams/new" class="btn btn-primary">Создать команду</a>
</div>
<div class="mb15">
    <a href="#leagues/{{id}}/games/new" class="btn btn-primary">Создать игру</a>
</div>
<div class="mb15">
    <a href="#leagues/{{id}}/calendar" class="btn btn-primary">Календарь</a>
</div>