body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.name-width {
    width: 300px;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 10px;
}

.tab-inner {
    margin: 10px;
}

.mt10 {
    margin-top: 10px !important;
}