.main-league-title {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.name-width {
    width: 300px;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px;
}

.mb30 {
    margin-bottom: 30px;
}

.tab-inner {
    margin: 10px;
}

.mt10 {
    margin-top: 10px !important;
}

.date {
    width: 100px;
}

.name-event {
    width: 100px;
}


.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.width-100 {
    width: 100px;
}

.width-125 {
    width: 125px;
}

.width-150 {
    width: 150px;
}

.width-720 {
    width: 720px;
}

.width-620 {
    width: 620px;
}

.img-120-120 {
    height: 120px;
    width: 120px;
}

.img-150-150 {
    height: 150px;
    width: 150px;
}