<html>
    <head>
        <link href="~/Content/dist/styles.bundle.css" rel="stylesheet">
    </head>
<body>
    <div id="main-header"></div>

    <div class="container theme-showcase" role="main">
        <div id="main-container"></div>
    </div>

    

    <script src="~/Content/dist/vendor.bundle.js"></script>
    <script src="~/Content/dist/app.bundle.js"></script>
</body>
<footer id="main-footer">
    <nav class="navbar navbar-bottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="navbar-header">
                    <a class="navbar-brand diys-bottom-band " href="#">©&nbsp;&nbsp;2016 DIY FOOTBALL SITE (TEST)</a>
                </div>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</footer>
</html>