<html>
    <head>
        <link href="~/Content/dist/styles.bundle.css" rel="stylesheet">
    </head>
    <body>
        <div id="main-header"></div>

        <div class="container theme-showcase" role="main">
            <div id="main-container"></div>
        </div>

        <script src="~/Content/dist/vendor.bundle.js"></script>
        <script src="~/Content/dist/app.bundle.js"></script>
    </body>
</html>