<html>

<head>
    <link href="~/Frontend/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Frontend/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="~/Frontend/css/theme.css" rel="stylesheet">
</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Bootstrap theme</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container theme-showcase" role="main">
        <div id="main-container"></div>
    </div>

    <script src="~/Frontend/js/static/jquery-1.12.1.min.js"></script>
    <script src="~/Frontend/js/static/bootstrap.min.js"></script>
    <script src="~/Frontend/js/static/underscore.min.js"></script>
    <script src="~/Frontend/js/static/backbone.min.js"></script>
    <script src="~/Frontend/js/static/backbone.marionette.min.js"></script>
    <script src="~/Frontend/js/static/handlebars-v4.0.5.js"></script>
    <script src="~/Frontend/js/static/jquery.jeditable.mini.js"></script>

    <script src="~/Frontend/app/template.js"></script>
    <script src="~/Frontend/app/router.js"></script>
    <script src="~/Frontend/app/app.js"></script>

    <script src="~/Frontend/app/models/teams.js"></script>

    <script src="~/Frontend/app/shared/saveView.js"></script>
    <script src="~/Frontend/app/shared/layout.js"></script>
    <script src="~/Frontend/app/shared/splittedLayout.js"></script>
    <script src="~/Frontend/app/shared/emptyListView.js"></script>

    <script src="~/Frontend/app/leagues/leaguesList.js"></script>    
    <script src="~/Frontend/app/leagues/leaguesModule.js"></script>

    <script src="~/Frontend/app/teams/list/teamListView.js"></script>
    <script src="~/Frontend/app/teams/list/teamListModule.js"></script>

    <script src="~/Frontend/app/teams/new/teamNewView.js"></script>
    <script src="~/Frontend/app/teams/new/teamNewModule.js"></script>

    <script src="~/Frontend/app/games/new/gameNewView.js"></script>
    <script src="~/Frontend/app/games/new/gameNewModule.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            MyApp.start();
        });
    </script>
</body>

</html>