<div class="dashboard">
    <div class="row">
        <div class="col-sm-12">
            <div class="dashboard-box">
                <div class="dashboard-box-content">
                    <table class="table table-striped mb0">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Игры</th>
                            <th>Дата</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary add-event">Добавить тур</button>
    </div>
</div>
