<td>
    <div class="mb10">
        <input type="text" class="form-control name-event" data-id="{{id}}" value="{{name}}"/>
    </div>
    <div class="mb10">
        <button class="btn btn-primary add-event-game">Добавить игру</button>
    </div>
    <div class="mb10">
        <button class="btn btn-primary delete-event">Удалить тур</button>
    </div>
</td>
<td>
    {{#each games}}
    <div class="row">
        <div class="col-sm-4">
            <select class="form-control home-team-change" data-id="{{id}}">
                {{#if homeTeamName}}
                <option disabled="disabled" selected="selected">{{homeTeamName}}</option>
                {{else}}
                <option disabled="disabled" selected="selected">Выбрать команду</option>
                {{/if}}
                {{#each teams}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-sm-4">
            <select class="form-control guest-team-change" data-id="{{id}}">
                {{#if guestTeamName}}
                <option disabled="disabled" selected="selected">{{guestTeamName}}</option>
                {{else}}
                <option disabled="disabled" selected="selected">Выбрать команду</option>
                {{/if}}
                {{#each teams}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary delete-event-game" data-id="{{id}}">Удалить</button>
        </div>
        {{#if gameId}}
        <div class="col-sm-2">
            <button class="btn btn-primary change-event-game" data-game-id="{{gameId}}">Изменить</button>
        </div>
        {{else}}
        <div class="col-sm-2">
            <button class="btn btn-primary create-event-game" data-home-id="{{homeTeamId}}" data-guest-id="{{guestTeamId}}">Создать</button>
        </div>
        {{/if}}
    </div>
    {{/each}}
</td>
<td>
    <div class="form-group">
        <div class='input-group date'>
            <input type='text' class="form-control start-date" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</td>