<table class="table table-striped mb0">
    <thead>
        <tr>
            <th style="width: 70%">{{name}}</th>
            <th>{{startDate}}</th>
        </tr>
    </thead>
    <tbody>
        {{#each games}}

        {{#if gameId}}
        <tr class="cursor-pointer" data-game-id="{{gameId}}">
            <td style="width: 70%">
                {{homeTeamName}} {{guestTeamName}}
            </td>
            <td>
                {{homeTeamScore}} - {{guestTeamScore}}
            </td>
        </tr>
        {{else}}
        <tr>
            <td style="width: 70%">
                {{homeTeamName}} {{guestTeamName}}
            </td>
            <td>
            </td>
        </tr>
        {{/if}}

        {{/each}}
    </tbody>
</table>