<div class="dashboard">
    {{#if leagues}}
    <div class="dashboard-list">
        <div class="col-sm-12 dashboard-list-title">
            Лиги
        </div>
        {{#each leagues}}
        <div class="col-sm-4">
            <div class="dashboard-list-item cursor-pointer" data-id="{{id}}">
                {{#if mediaId}}
                <div class="dashboard-list-item-sub">
                    <div class="dashboard-list-item_logo">
                        <img class="img-70-70 " src="/api/image/{{mediaId}}?width=70&height=70"/>
                    </div>
                </div>
                {{/if}}
                <div class="dashboard-list-item-sub">
                    <div class="dashboard-list-item_name">
                        {{name}}
                    </div>
                    <div class="dashboard-list-item_description">
                        {{description}}
                    </div>
                </div>
            </div>
            {{#if isAdmin}}
            <div>
                <button class="btn btn-primary edit-league" data-id="{{id}}">Редактировать</button>
            </div>
            <div>
                <button class="btn btn-primary delete-league" data-id="{{id}}">Удалить</button>
            </div>
            {{/if}}
        </div>
        {{/each}}
    </div>
    {{/if}}

    {{#if tournaments}}
    <div class="dashboard-list">
        <div class="col-sm-12 dashboard-list-title">
            Турниры
        </div>
        {{#each tournaments}}
        <div class="col-sm-4">
            <div class="dashboard-list-item cursor-pointer" data-id="{{id}}">
                <div class="dashboard-list-item_name">
                    {{name}}
                </div>
                <div class="dashboard-list-item_description">
                    {{description}}
                </div>
            </div>
            {{#if href}}
            <div><a href="{{href}}" class="btn btn-primary pull-right">Редактировать</a></div>
            {{/if}}
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>