<div class="dashboard">

<div class="row">
    <div class="col-sm-4">
        <div class="dashboard-box">
            <div class="dashboard-box-header dashboard-box-header-border row m0">
                <div class="dashboard-box-header__title col-sm-7 p0">
                    Лучшие игроки
                </div>
                <div class="dashboard-box-header__link col-sm-5 p0">

                </div>
            </div>
            <div class="dashboard-box-content">
                <table class="table table-striped mb0">
                    <thead>
                    <tr>
                        <th>Имя</th>
                        <th class="width-100 text-right">Очки</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each bestPlayers}}
                    <tr>
                        <td>{{name}}</td>
                        <td class="width-100 text-right">{{num}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="dashboard-box">
            <div class="dashboard-box-header dashboard-box-header-border row m0">
                <div class="dashboard-box-header__title col-sm-7 p0">
                    Лучшие ассисстенты
                </div>
                <div class="dashboard-box-header__link col-sm-5 p0">

                </div>
            </div>
            <div class="dashboard-box-content">
                <table class="table table-striped mb0">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th class="width-100 text-right">Очки</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each bestHelpers}}
                        <tr>
                            <td>{{name}}</td>
                            <td class="width-100 text-right">{{num}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div><div class="col-sm-4">
    <div class="dashboard-box">
        <div class="dashboard-box-header dashboard-box-header-border row m0">
            <div class="dashboard-box-header__title col-sm-7 p0">
                Лучшие форварды
            </div>
            <div class="dashboard-box-header__link col-sm-5 p0">

            </div>
        </div>
        <div class="dashboard-box-content">
            <table class="table table-striped mb0">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th class="width-100 text-right">Очки</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each bestForwards}}
                    <tr>
                        <td>{{name}}</td>
                        <td class="width-100 text-right">{{num}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

</div>