<div class="dashboard">
    <div class="row">
        <div class="col-sm-12">
            <div class="dashboard-box">
                <div class="dashboard-box-content">
                    <table class="table table-striped mb0">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th class="width-100 text-right">Кол-во игр</th>
                                <th class="width-100 text-right">Победы</th>
                                <th class="width-100 text-right">Ничьи</th>
                                <th class="width-100 text-right">Поражения</th>
                                <th class="width-125 text-right">Голы</th>
                                <th class="width-100 text-right">Очки</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>