<div class="form-group">
    {{#if isEditor}}
    <button type="button" class="btn btn-primary add-new-team">Добавить команду</button>
    <button type="button" class="btn btn-primary calendar-link">Календарь</button>
    <div class="mb15">
        <input type="text" class="form-control import-team-input width-200 inline-block " placeholder="Название команды" />
        <a class="btn btn-primary import-team-button">Импортировать команду</a>
        <a href="#leagues/{{id}}/teams/new" class="btn btn-primary">Создать команду</a>
    </div>
    {{/if}}
</div>
