<h2 class="mb30">{{name}}</h2>

{{#if events}}
<div class="row">
    {{#each events}}
    <div class="dashboard">
        {{#each []}}

        <div class="col-sm-{{groupCol}}">
            <div class="dashboard-box">
                <div class="dashboard-box-header row m0">
                    <div class="dashboard-box-header__title col-sm-7 p0">
                        {{name}}
                    </div>
                </div>

                {{#if playoffGames}}
                {{#each playoffGames}}
                <div class="dashboard-box-content">
                    <div class="dashboard-box-content__half-left">
                        {{#if homeTeamMediaId}}
                        <img class="inline-block" src="/api/image/{{homeTeamMediaId}}?width=50&height=50"/>
                        {{else}}
                        <img class="inline-block" src="/content/img/DefaultLogo_50x50.jpg"/>
                        {{/if}}
                        <h5 class="inline-block">{{homeTeamName}}</h5>
                    </div>
                    <div class="inline-block">
                        <h4>
                            <b>
                                {{homeTeamScore}} - {{guestTeamScore}}
                            </b>
                        </h4>
                    </div>
                    <div class="dashboard-box-content__half-right">
                        <h5 class="inline-block">{{guestTeamName}}</h5>
                        {{#if guestTeamMediaId}}
                        <img class="inline-block" src="/api/image/{{guestTeamMediaId}}?width=50&height=50"/>
                        {{else}}
                        <img class="inline-block" src="/content/img/DefaultLogo_50x50.jpg"/>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
                {{else}}
                {{#if groupGames}}
                <div class="dashboard-box-content">
                    <table class="table table-hovered mb0">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Команда</th>
                            <th class="text-right width-100">В</th>
                            <th class="text-right width-100">Н</th>
                            <th class="text-right width-100">П</th>
                            <th class="text-right width-100">О</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each groupGames}}
                        <tr>
                            <td class="number-cell">{{number}}</td>
                            <td>
                                {{#if mediaId}}
                                <img class="inline-block" src="/api/image/{{mediaId}}?width=25&height=25"/>
                                {{else}}
                                <img class="inline-block" src="/content/img/DefaultLogo_25x25.jpg"/>
                                {{/if}}
                                {{name}}
                            </td>
                            <td class="text-right width-100">
                                {{wins}}
                            </td>
                            <td class="text-right width-100">
                                {{drafts}}
                            </td>
                            <td class="text-right width-100">
                                {{loses}}
                            </td>
                            <td class="text-right width-100">
                                {{points}}
                            </td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                {{/if}}
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>
{{else}}
<div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
{{/if}}

